html
{
	overflow-y:scroll;
}

::-webkit-scrollbar
{
	width:10px;
}

::-webkit-scrollbar-track
{
	background:transparent;
}

::-webkit-scrollbar-thumb
{
	background:#b100ff;
	border-radius:6px;
}

::-webkit-scrollbar-thumb:hover
{
	background:#d44cff;
}

body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#070707;
	color:white;
}

/* HEADER */

header
{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:20px 40px;
}

.logo img
{
	height:50px;
	width:auto;
	display:block;
}

.top-contact a
{
	color:white;
	text-decoration:none;
	font-size:14px;
}

.top-contact a:hover
{
	color:#b100ff;
}

/* DIVIDER */

.divider
{
	width:100%;
	height:2px;
	background:#b100ff;
}

/* NAV BUTTON CONTAINER */

.nav-buttons
{
	display:flex;
	justify-content:center;
	gap:30px;
	margin-top:40px;
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
}

/* DEFAULT BUTTON STYLE */

.nav-btn
{
	display:inline-flex;
	width:160px;
	height:48px;

	border-radius:8px;
	text-decoration:none;
	font-weight:bold;
	color:white;
	font-size:16px;

	background:#2a2a2a;
	transition:0.2s;

	justify-content:center;
	align-items:center;
}

/* HOVER */

.nav-btn:hover
{
	transform:translateY(-3px);
	filter:brightness(1.2);
}

/* ACTIVE PAGE BUTTON */

.nav-btn.active
{
	background:#b100ff;
}

/* MAIN CONTENT */

main
{
	max-width:900px;
	margin:10px auto;
	text-align:center;
	padding:20px;
}

h1
{
	font-size:48px;
	margin-bottom:20px;
}

p
{
	font-size:18px;
	line-height:1.6;
}

.work-list
{
	list-style:none;
	padding:0;
}

.work-list li
{
	margin:10px 0;
	font-size:18px;
}

.project
{
	margin:40px 0;
	padding:60px;
	border:1px solid #333;
	border-radius:8px;
}

/* PROJECT GRID */

.project-grid
{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
	gap:40px;
	margin-top:20px;
}

/* PROJECT CARD */

.project-card
{
	background:#111;
	border-radius:10px;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	transition:0.2s;
}

/* IMAGE */

.project-card img
{
	width:100%;
	height:180px;
	object-fit:cover;
	display:block;
}

/* TITLE */

.project-card h2
{
	padding:15px;
	font-size:18px;
}

/* HOVER EFFECT */

.project-card:hover
{
	transform:translateY(-6px);
	box-shadow:0 0 15px #b100ff;
}

.home-logo
{
	width:325px;
	max-width:90%;
	margin-bottom:10px;
}

