body
{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#070707;
	color:white;
}

/* HEADER */

header
{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:20px 40px;
}

.logo
{
	font-size:24px;
	font-weight:bold;
}

.top-contact a
{
	color:white;
	text-decoration:none;
	font-size:14px;
}

.top-contact a:hover
{
	color:#b100ff;
}

/* DIVIDER */

.divider
{
	width:100%;
	height:2px;
	background:#b100ff;
}

/* BUTTON CONTAINER */

.nav-buttons
{
	display:flex;
	justify-content:center;
	gap:30px;
	margin-top:40px;
}

/* BUTTON STYLE */

.nav-btn
{
	padding:14px 36px;
	border-radius:8px;
	text-decoration:none;
	font-weight:bold;
	color:white;
	font-size:16px;
	transition:0.2s;
}

/* COLORS */

.about
{
	background:#7a00ff;
}

.work
{
	background:#0066ff;
}

.projects
{
	background:#ff006a;
}

/* HOVER */

.nav-btn:hover
{
	transform:translateY(-3px);
	filter:brightness(1.2);
}

/* MAIN CONTENT */

main
{
	max-width:900px;
	margin:120px auto;
	text-align:center;
	padding:20px;
}

h1
{
	font-size:48px;
	margin-bottom:20px;
}

p
{
	font-size:18px;
	line-height:1.6;
}
